# IAR/CMake/Ninja 编译目录
**/Debug*/
**/Release*/
**/Build*/
**/BrowseInfo/

# Ninja/CMake 中间文件
**/.ninja_*
**/build.ninja
**/CMakeCache.txt
**/CMakeFiles/

# 编译产物
*.o
*.obj
*.elf
*.hex
*.map
*.lst
*.pbi
*.xcl
*.d
*.dep
*.log
*.tmp

.vscode/
